.bg-light {
    background-color: #6f8294!important;
}

.navbar-brand {
	position: absolute;
	top: 8px;
	left: 50%;
}

.btn-outline-success {
    color: #28a745;
    background-color: #58450a;
    background-image: none;
    border-color: #28a745;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}